<div class="row" style="margin: 5px 0px;">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="p-5 text-center bg-body-tertiary rounded-3" style="background-color: rgba(248,249,250, 1)">
            <h1 class="text-body-emphasis">Specialties</h1>
            <p class="lead">
              These are the specialties our hospitals support.
            </p>
        </div>
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-12">
        <div style="display: flex; justify-content: center;">
            <specialty-table-panel></specialty-table-panel>
        </div>
    </div>
</div>