        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal-title">Edit Hospital</h1>
          <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-sm-6">
                  <label class="form-label" for="name">Hospital Name: </label>
                  <input class="form-control" id="name" type="text" formControlName="name" required>
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="manager">Manager: </label>
                  <input class="form-control" id="manager" type="text" formControlName="manager">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <label class="form-label" for="specialty">Specialty: </label>
                  <select class="form-select" id="specialty" formControlName="specialty_ID">
                    <option *ngFor="let specialty of specialties" [value]="specialty.id">{{ specialty.name }}</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="phone">Phone: </label>
                  <input class="form-control" id="phone" type="text" formControlName="phone">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label class="form-label" for="address">Address: </label>
                  <input class="form-control" id="address" type="text" formControlName="address">
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" style="float: left;" (click)="delete()">Delete</button>
          <button type="button" class="btn btn-secondary" (click)="cancel()">Close</button>
          <button type="button" class="btn btn-primary" (click)="proceed()">Save changes</button>
        </div>