<div class="row">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">Hospital Management System</h1>
        <p class="lead">
          This is a simple Hospital Management System. You can <b class="text-success">C</b>reate, <b class="text-primary">R</b>ead, <b class="text-info">U</b>pdate, and <b class="text-danger">D</b>elete Hospitals.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <button class="btn btn-primary" (click)="addHospital()">Add Hospital</button>
        <hospital-table-panel></hospital-table-panel>
    </div>
    <div class="col-2"></div>
</div>
