
<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/hospital" class="nav-link px-2 text-white">Hospitals</a></li>
        <li><a routerLink="/specialty" class="nav-link px-2 text-white">Specialties</a></li>
      </ul>

    </div>
  </div>
</header>

<router-outlet></router-outlet>
